<% c++ #include "data/questions/master.h" %>
<% skin %>
<% view master uses data::questions::master extends basic_master %>
<% template title() %><% end template %>
<% template render() %>
<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="/media/all.css">
<div class="container">
        <div id="header">
            <div id="portalLink">
                <a class="genu" onclick="StackExchange.ready(function(){genuwine.click();});return false;">Stack Exchange</a>
                    <a class="unreadCount" style="margin-top: 2px; opacity: 1;" title="unread messages in your inbox">5</a>
                        <script type="text/javascript">
                             StackExchange.ready(function () {
                                 genuwine.animateInbox();
                             });
                        </script>
            </div>
            <div id="topbar">
                <div id="hlinks">
                    









<span id="hlinks-user">
        <span class="profile-triangle">▾</span><a href="http://android.stackexchange.com/users/20557/user902384" class="profile-link">user902384</a>&nbsp;<a href="http://android.stackexchange.com/users/20557/user902384?tab=reputation"><span class="reputation-score" title="your reputation; view reputation changes" dir="ltr">1</span></a>
 <span class="lsep">|</span>


</span>
<span id="hlinks-nav">

</span>
<span id="hlinks-custom">
        <a href="/about">about</a>
 <span class="lsep">|</span>
    <a href="/faq">faq</a>

</span>
                </div>
                <div id="hsearch">
                    <form id="search" action="/search" method="get" autocomplete="off">
                    <div>
                        <input autocomplete="off" name="q" class="textbox" placeholder="search" tabindex="1" maxlength="140" size="28" type="text">
                    </div>
                    </form>
                </div>
            </div>
            <br class="cbt">
            <div id="hlogo">
                <a href="http://android.stackexchange.com/">Android Enthusiasts</a>
            </div>
            <div id="hmenus">
                <div class="nav mainnavs">
                    <ul>
                        <li class="youarehere"><a id="nav-questions" href="/questions">Questions</a></li>
                        <li><a id="nav-tags" href="/tags">Tags</a></li>
                        <li><a id="nav-users" href="/users">Users</a></li>
                        <li><a id="nav-badges" href="/badges">Badges</a></li>
                        <li><a id="nav-unanswered" href="/unanswered">Unanswered</a></li>
                    </ul>
                </div>
                <div class="nav askquestion">
                    <ul>
                        <li>
                            <a id="nav-askquestion" href="/questions/ask">Ask Question</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
	</div>


	<div id="footer">
        <div class="footerwrap">
            <div id="footer-menu">
                <a href="/about">about</a> |
                <a href="/faq">faq</a> |
                <a href="/legal">legal</a> |
                <a href="/privacy-policy">privacy policy</a> |
                <a href="/about/contact">advertising info</a> |

                <a onclick="StackExchange.switchMobile('on', '/questions')">mobile</a> |

                <b><a href="/help">contact us</a></b>
                  | <b><a href="/feedback">feedback</a></b>
            
            </div>
            <div id="footer-flair">
                        </div>
            <div id="copyright">
                Design / logo &copyright; 2012 <a href="http://libreprogramming.org">libreprogramming.org</a>; 
                user contributions licensed under <a href="http://www.gnu.org/licenses/gpl.html">GNU GPLv3.</a><br/><br/>
                <a href="http://libreprogramming.org">Powered by LPQA<br/><br/>
                <a href="http://libreprogramming.org/"><img src="/media/lpqa.png" /></a>
                <a href="http://www.gnu.org/licnses/gpl.html"><img src="/media/gnu.jpg" height="49" width="52"/></a>
            </div>
        </div>
    </div>
<% end template %>    
<% template master_content() %><% end template %>
<% end view %>
<% end skin %>